.Projects {
height: 560px;
padding-top: 200px;
}

h1{
    color: rgb(255, 255, 255);
   
  }
h5{
  color: rgb(255, 255, 255);
  font-size: large;
}

.iframe1 {
height: 100%;
}

.NES {
  height: 560px;
  display: none;
}

.button1{
  box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #270850 100%);
	background-color:#dfbdfa;
	/* border-radius:6px; */
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752
}