.Projects {
height: 560px;
padding-top: 200px;
}

h1{
    color: rgb(255, 255, 255);
   
  }
h5{
  color: rgb(255, 255, 255);
  font-size: large;
}

.iframe1 {
height: 100%;
}

.NES {
  height: 560px;
  display: none;
}

.button1{
 background-color: blue;
 font-size:xx-small;
 font-weight: bold;
}

.list1 {
	padding: 4px;
	color: white;
	font-size:xx-large;
}
.listItems
{
	padding: 4px;
	color: white;
}
.google {
	height: 100%;
display: none;
}