.Rules {
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    
    
}
.RulesHeading {
    height: 1vh;
    font-size: larger;
    text-decoration: underline;  
    font-weight:bolder;
}
.rulesCenter {
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.TopTen {
align-items: center;
}
.TopTenHeading {
    height: 1vh;
    font-size: larger;
    text-decoration: underline; 
    font-weight:bolder; 
}
.aloeInfo {
    height: 1vh;
    font-size: larger;
    text-decoration: underline; 
    font-weight:bolder; 

}