.Rules {
    color: white;
    align-items: center;
    display: none;
    
    
}
.RulesHeading {
    font-size: larger;
    text-decoration: underline;  
    color: rgb(55, 143, 130);
}

.TopTen {
align-items: center;

}

.clicks {

}
.TopTenHeading {
    font-size: larger;
    text-decoration: underline;  
    color: rgb(55, 143, 130);
}
