/* altAI.module.css */

/* Apply a black background */
.appContainer {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Use relative positioning to center the content */
  }
  
  /* Center the content and overlay on the background */
  .image {
    width: 100px;
    height: 100px;
  }
  
  /* Add any other styles as needed */
  