.RandomButton {

    	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, rgb(39, 8, 80) 100%);
	background-color: rgb(39, 8, 80);
	border-radius:6px;
	border:1px solid rgb(39, 8, 80);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px rgb(39, 8, 80);
}