.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.channelName {
  text-align: center;
  width: 100%;
  color: rgb(55, 143, 130);
  background-color: rgba(55, 143, 130, 0.2);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.videoContainer > a {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
  max-width: 350px;
}

@media (max-width: 768px) {
  .videoContainer > a {
    width: calc(33.33% - 10px);
  }
}

@media (max-width: 480px) {
  .videoContainer > a {
    width: calc(50% - 10px);
  }
}

