.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.channelName {
  text-align: center;
  width: 100%;
  color: rgb(55, 143, 130);
  background-color: rgba(55, 143, 130, 0.2);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.openButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -30px; /* Update this value to make the button closer */
  margin-bottom: 20px;
}

.videoContainer > a {
  flex-basis: 33.33%;
  margin-bottom: 10px;
  max-width: 350px;
}

.openButton {
  padding: 10px 20px;
  background-color: rgb(55, 143, 130);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.openButton:hover {
  background-color: rgba(55, 143, 130, 0.8);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.videoPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.videoPlayer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
