.Aloecam {
  align-content: center;
  
}

.img1 {
  max-width: 75%;
  min-width: 300px;
  height: auto;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  padding: 1px;
}

.iframe1 {
  width: 135px;
  height: 6vh;
  background: none;
}
.iframe2 {
  width: 300px;
  height: 5vh;
  background: none;
}

.clicks {
  width: auto;
  align-content: center;
  font-size: large;
  height: 100px;
  /* border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px; */
  padding: 1px;
  color: white;
}

.lastClick {
  width: auto;
  align-content: center;
  font-size: large;
  height: 100px;
  /* border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px; */
  padding: 1px;
  color: white;

}