.Aloecam {
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1080px;

}

.iframe1 {
 width: 1px;
 min-width: 68.5%;
 height: 725px;
 
}