.Aloecam {
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1080px;

}

.img1 {
  width: 720px;
  border-color: rgb(255, 255, 255);
 border-style: solid;
 border-width: 2px;
 padding: 1px;
}

.rules {
  align-items: center;
  text-align: center;
  border-style: solid;
  border-color: aliceblue;
  width: 200px;
}