* {
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100vh; /* set the minimum height of the body to the height of the viewport */
  display: flex; /* use flexbox to align the children */
  flex-direction: column; /* stack the children vertically */
}

.container {
  margin: 1rem;
  text-align: center;
  background-image: url(/public/backgroundnew.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1; /* grow to fill the remaining space */
  width: 94vw;
}
