.Rules {
    color: white;
    align-items: center;
}
h3 {
    border-style: double;
    border-color: white;
    height: 25px;
    width: 250px;
    font-size: larger;
    text-align: center;
    color: rgb(55, 143, 130);
}